<footer class="footer1"> 
  <div class="card mb-3" style="max-width: 500px;">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="https://admin.punepolice.gov.in/img/punelogo11.png" class="img-fluid rounded-middle" alt="PunePolice-symbol">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pune-Police</h5>
          <p class="card-text"><small class="text-body-secondary">The website is not official , it is project website.</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer2 ">
  <p class="card-text2">&copy; SafePune</p>
</footer>