
<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand me-2" href="/" style="margin-right: 1rem;"><i class="fa-solid fa-shield-halved"></i></a>
    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: 1rem;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"  href="/about-us">About-us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/online-complaint">Online-Complaint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/report-us">Report-us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/branch" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Branch
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/control-room">Control Room</a></li>
            <li><a class="dropdown-item" href="/traffic-branch">Traffic Branch</a></li>
            <li><a class="dropdown-item" href="/head-quarter">Head Quarter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar2 navbar-expand-sm">
  <div class="container-fluid2">
    <ul class="navbar-nav ms-auto flex-wrap">
      <li class="nav-item">
          <a class="nav-link" href="#">Elder Line: 1090</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Child Line: 1098</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Women Helpline: 1091</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">WhatsApp: 8975283100</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Control Room: 100/112</a>
      </li>
  </ul>
  </div>
</nav>