<% layout ("/layouts/boilerplate") -%> 

  <div class="container mt-4 hl-5 mission-section">
    <img class="image" src="https://www.pngitem.com/pimgs/m/113-1130470_police-badge-police-badge-svg-free-hd-png.png">
    <div class="row-2">
      <div class="col">
        <h2>Our Mission</h2><br>
        <li><strong>To make the city of Pune assuringly safe and secure, in consonance with the aspirations of its citizens.</strong></li><br>
        <h2>Vision</h2><br>
        <ul>
          <li><strong>To combat terrorism.</strong></li>
          <li><strong>Neutralise gangsterism, organized and serious crimes.</strong></li>
          <li><strong>Curb street crimes and hooliganism.</strong></li>
          <li><strong>Monitor cyber space and economic offences.</strong></li>
          <li><strong>Preserve caste and communal harmony.</strong></li>
          <li><strong>Maintain a facile flow of vehicular traffic on the roads.</strong></li>
        </ul>
      </div>
    </div>
  </div>
