<% layout("/layouts/boilerplate") %>
<div class="col-8 offset-2">
  <br>
  <h3>Feedback :</h3>
  <form class="needs-validation"  method="POST" action="/report-us" novalidate>
    <div class="mb-3">
      <label for="fullName" class="form-label">Full Name:</label>
      <input name="report[fullName]" 
      placeholder="Enter full Name" 
      type="text" 
      class="form-control"
      required
      />
      <div class="valid-feedback">Name looks good!</div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address:</label>
      <input name="report[address]" 
      placeholder="Enter your Address" 
      type="text" 
      class="form-control"
      required
      />
      <div class="invalid-feedback">Enter valid address!</div>
    </div>
    <div class="mb-3">
      <label for="contactNumber" class="form-label">Contact:</label>
      <input name="report[contactNumber]" 
      placeholder="Enter your Phone-number"
      type="number" 
      class="form-control"
      required
      />
      <div class="invalid-feedback">Enter valid numbers!</div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email ID:</label>
      <input name="report[email]" 
      placeholder="Enter your Email" 
      type="text"
      class="form-control"
      required
      />
      <div class="invalid-feedback">Enter valid email!</div>
    </div>
    <div class="mb-3">
      <label for="subject" class="form-label">Subject:</label>
      <input name="report[subject]" 
      placeholder="Enter Subject for Feedback" 
      type="text"
      class="form-control"
      required
      />
      <div class="invalid-feedback">Enter valid subject!</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea 
        name="report[description]" 
        placeholder="Enter Description" 
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Enter short description!</div>
    </div>     
    <div class="mb-3">
      <label for="report[rating]" class="form-label" required>Rating:</label>
      <fieldset class="starability-slot">
        <input type="radio" id="first-rate1" name="report[rating]" value="1" required checked aria-label="Default rating."/>
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="report[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="report[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="report[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="report[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
    
    <button class="btn btn-dark">Submit</button>
    <br><br>
  </form>
</div>
  